In [26]:
import pandas as pd
from sklearn.tree import DecisionTreeRegressor

In [39]:
import requests
API_KEY = 'dbc71a148bafc01069c2eaa79a6fc9fe'

In [6]:
df = pd.read_csv('diary.csv')
df

,Date,Name,Year,Letterboxd URI,Rating,Rewatch,Tags,Watched Date
0,2023-01-26,Parasite,2019,https://boxd.it/3LnirH,2.0,NaN,NaN,2019-12-09
1,2021-11-29,Violet,2021,https://boxd.it/2jZOq3,4.0,NaN,NaN,2021-11-28
2,2021-11-29,The Pianist,2002,https://boxd.it/2jZOMD,4.0,Yes,NaN,2021-11-28
3,2021-12-02,Singin' in the Rain,1952,https://boxd.it/2kr9pJ,4.5,NaN,NaN,2021-12-01
4,2021-12-02,CODA,2021,https://boxd.it/2ks60N,4.5,NaN,NaN,2021-12-01
...,...,...,...,...,...,...,...,...
554,2025-02-17,The Housemaid,2010,https://boxd.it/8RvNSJ,3.0,NaN,NaN,2025-02-16
555,2025-02-24,The Lion King,1994,https://boxd.it/8Wfc4F,5.0,Yes,NaN,2025-02-22
556,2025-02-24,Anora,2024,https://boxd.it/8WbdD9,3.5,NaN,NaN,2025-02-23
557,2025-02-26,Shaolin Soccer,2001,https://boxd.it/8Xkeb3,4.0,NaN,NaN,2025-02-25
558,2025-02-28,Peppermint Candy,1999,https://boxd.it/8Yb0dF,3.0,NaN,NaN,2025-02-26

In [27]:
rating = pd.read_csv('ratings.csv')
rating_1_5 = rating.loc[rating['Rating'] == 1.5].reset_index()
rating_dif_1_5 = rating[~rating['Rating'].isin(rating_1_5['Rating'])].reset_index()
rating_1_5.head()

,index,Date,Name,Year,Letterboxd URI,Rating
0,46,2021-11-29,World War Z,2013,https://boxd.it/2p2E,1.5
1,73,2021-11-30,Mr. Popper's Penguins,2011,https://boxd.it/kRS,1.5
2,76,2021-11-30,Avengers: Endgame,2019,https://boxd.it/9vE4,1.5
3,77,2021-11-30,The Amazing Spider-Man 2,2014,https://boxd.it/3utM,1.5
4,82,2021-11-30,I Am Legend,2007,https://boxd.it/21DG,1.5

In [30]:
test_X = rating_dif_1_5[['Year']]
test_y = rating_dif_1_5.Rating
filme_dtr = DecisionTreeRegressor(random_state=1)
filme_dtr.fit(test_X,test_y)

DecisionTreeRegressor(random_state=1)

In [37]:
val_X = rating_1_5[['Year']]
rating_1_5['new_rating'] = filme_dtr.predict(val_X)
rating_1_5.sort_values('new_rating').head()

,index,Date,Name,Year,Letterboxd URI,Rating,new_rating
22,421,2023-04-12,Norbit,2007,https://boxd.it/1XSM,1.5,2.32000
4,82,2021-11-30,I Am Legend,2007,https://boxd.it/21DG,1.5,2.32000
20,391,2023-04-11,The Game Plan,2007,https://boxd.it/1PDY,1.5,2.32000
19,384,2023-04-11,I Now Pronounce You Chuck & Larry,2007,https://boxd.it/25cE,1.5,2.32000
1,73,2021-11-30,Mr. Popper's Penguins,2011,https://boxd.it/kRS,1.5,2.34375

In [71]:
filmes_dif_1_5 = rating_dif_1_5['Name']
resultados_dif = []
for filme in filmes_dif_1_5:
    url = f"https://api.themoviedb.org/3/search/movie?query={filme}&language=pt=BR"
    headers = {
        "Authorization": "Bearer eyJhbGciOiJIUzI1NiJ9.eyJhdWQiOiJkYmM3MWExNDhiYWZjMDEwNjljMmVhYTc5YTZmYzlmZSIsIm5iZiI6MTc0MDk1OTg4Mi4zNTAwMDAxLCJzdWIiOiI2N2M0ZjA4YWNjZmM3NDlhZjI5MWUwZmEiLCJzY29wZXMiOlsiYXBpX3JlYWQiXSwidmVyc2lvbiI6MX0.1MSRj7joHPCxwqqg84hcDNRXOO88Aiu5QWWvTTc1oQo"
    }
    response = requests.get(url,headers=headers)
    
    data = response.json()
    
    if data['results']:
        movie = data['results'][0]
        resultados_dif.append(movie)
df_resultados_dif = pd.DataFrame(resultados_dif)

,adult,backdrop_path,genre_ids,id,original_language,original_title,overview,popularity,poster_path,release_date,title,video,vote_average,vote_count
0,False,/kE0G21t1ktp7pe9QrIcWtEl05RK.jpg,[18],665901,en,Violet,Violet realizes that her entire life is built ...,4.540,/h88HvuJGmbz6ABBFHoltN4Ratib.jpg,2021-10-29,Violet,False,7.000,25
1,False,/e1rPzkIcBEJiAd3piGirt7qVux7.jpg,"[80, 28, 35]",4638,en,Hot Fuzz,Former London constable Nicholas Angel finds i...,41.192,/zPib4ukTSdXvHP9pxGkFCe34f3y.jpg,2007-02-14,Hot Fuzz,False,7.600,7677
2,False,/stAPkorBeBkvEZ6DQs30Ke4cPyr.jpg,"[35, 28, 878]",107985,en,The World's End,Five friends who reunite in an attempt to top ...,18.752,/kpglnOBYmKn0AkkWDzGxzKHDbds.jpg,2013-07-18,The World's End,False,6.807,5466
3,False,/7W9xm2YTq54rfLFimIniMrywShv.jpg,"[28, 35, 10749]",22538,en,Scott Pilgrim vs. the World,"As bass guitarist for a garage-rock band, Scot...",40.463,/g5IoYeudx9XBEfwNL0fHvSckLBz.jpg,2010-08-12,Scott Pilgrim vs. the World,False,7.500,7984
4,False,/nlPCdZlHtRNcF6C9hzUH4ebmV1w.jpg,"[35, 18, 10749, 10402]",313369,en,La La Land,"Mia, an aspiring actress, serves lattes to mov...",76.414,/uDO8zWDhfWwoFdKS4fzkUJt0Rf0.jpg,2016-12-01,La La Land,False,7.900,17104

In [72]:
features = ['original_language','popularity','release_date',
            'video','vote_average','vote_count']
df_resultados_dif_feat = df_resultados_dif[features]
df_resultados_dif_feat.head()

  original_language  popularity release_date  video  vote_average  vote_count
0                en       4.540   2021-10-29  False         7.000          25
1                en      41.192   2007-02-14  False         7.600        7677
2                en      18.752   2013-07-18  False         6.807        5466
3                en      40.463   2010-08-12  False         7.500        7984
4                en      76.414   2016-12-01  False         7.900       17104

In [89]:
all_genres_dif = set([genre for sublist in df_resultados_dif['genre_ids'] for genre in sublist])
for genre in all_genres_dif:
    df_resultados_dif_feat.loc[:,f'genre_{genre}'] = df_resultados_dif['genre_ids'].apply(lambda x: 1 if genre in x else 0)
for i,filme in rating_dif_1_5.iterrows():
    nome_f = filme['Name']
    nota = filme['Rating']
    if nome_f in df_resultados_dif['title'].values:
        df_resultados_dif_feat.loc[df_resultados_dif['title'] == nome_f,'minhas_notas'] = nota
df_resultados_dif_feat

,original_language,popularity,release_date,video,vote_average,vote_count,genre_10752,genre_12,genre_14,genre_16,...,genre_36,genre_37,genre_9648,genre_53,genre_80,genre_99,genre_878,genre_10749,genre_10751,minhas_notas
0,en,4.540,2021-10-29,False,7.000,25,0,0,0,0,...,0,0,0,0,0,0,0,0,0,4.0
1,en,41.192,2007-02-14,False,7.600,7677,0,0,0,0,...,0,0,0,0,1,0,0,0,0,3.5
2,en,18.752,2013-07-18,False,6.807,5466,0,0,0,0,...,0,0,0,0,0,0,1,0,0,3.0
3,en,40.463,2010-08-12,False,7.500,7984,0,0,0,0,...,0,0,0,0,0,0,0,1,0,4.0
4,en,76.414,2016-12-01,False,7.900,17104,0,0,0,0,...,0,0,0,0,0,0,0,1,0,3.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
767,en,14.406,2021-12-10,False,6.500,639,0,0,0,0,...,1,0,0,0,0,0,0,0,0,1.0
768,fr,12.403,1962-01-23,False,7.600,985,0,0,0,0,...,0,0,0,0,0,0,0,1,0,2.0
769,en,82.851,2021-07-28,False,7.491,8779,0,1,0,0,...,0,0,0,0,0,0,0,0,0,2.0
770,en,31.607,2002-11-08,False,7.100,7360,0,0,0,0,...,0,0,0,0,0,0,0,0,0,2.0
771,en,26.872,2022-06-24,False,7.700,588,0,0,0,1,...,0,0,0,0,0,0,0,0,1,2.0

In [92]:
from sklearn.preprocessing import LabelEncoder
encoder = LabelEncoder()
df_resultados_dif_feat['original_language'] = encoder.fit_transform(df_resultados_dif_feat['original_language'])
df_resultados_dif_feat

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 772 entries, 0 to 771
Data columns (total 26 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   original_language  772 non-null    int64
 1   popularity         772 non-null    float64
 2   release_date       772 non-null    object
 3   video              772 non-null    bool
 4   vote_average       772 non-null    float64
 5   vote_count         772 non-null    int64
 6   genre_10752        772 non-null    int64
 7   genre_12           772 non-null    int64
 8   genre_14           772 non-null    int64
 9   genre_16           772 non-null    int64
 10  genre_18           772 non-null    int64
 11  genre_10770        772 non-null    int64
 12  genre_27           772 non-null    int64
 13  genre_28           772 non-null    int64
 14  genre_10402        772 non-null    int64
 15  genre_35           772 non-null    int64
 16  genre_36           772 non-null    int64
 17  genre_37           772 non-null    int64
 18  genre_9648         772 non-null    int64
 19  genre_53           772 non-null    int64
 20  genre_80           772 non-null    int64
 21  genre_99           772 non-null    int64
 22  genre_878          772 non-null    int64
 23  genre_10749        772 non-null    int64
 24  genre_10751        772 non-null    int64
 25  minhas_notas       742 non-null    float64
dtypes: bool(1), float64(3), int64(21), object(1)
memory usage: 151.7+ KB

In [77]:
filmes = rating_1_5['Name']
resultados = []
for filme in filmes:
    url = f"https://api.themoviedb.org/3/search/movie?&language=pt-BR&query={filme}"
    headers = {
        "Authorization": "Bearer eyJhbGciOiJIUzI1NiJ9.eyJhdWQiOiJkYmM3MWExNDhiYWZjMDEwNjljMmVhYTc5YTZmYzlmZSIsIm5iZiI6MTc0MDk1OTg4Mi4zNTAwMDAxLCJzdWIiOiI2N2M0ZjA4YWNjZmM3NDlhZjI5MWUwZmEiLCJzY29wZXMiOlsiYXBpX3JlYWQiXSwidmVyc2lvbiI6MX0.1MSRj7joHPCxwqqg84hcDNRXOO88Aiu5QWWvTTc1oQo"
    }
    response = requests.get(url,headers=headers)
    
    data = response.json()
    
    if data['results']:
        movie = data['results'][0]
        resultados.append(movie)
df_resultados = pd.DataFrame(resultados)
df_resultados_features = df_resultados[['genre_ids','original_language','popularity','release_date',
                                        'video','vote_average','vote_count']]
df_resultados_features.head()

,genre_ids,original_language,popularity,release_date,video,vote_average,vote_count
0,"[28, 27, 878, 53]",en,94.738,2013-06-19,False,6.819,15567
1,"[35, 10751]",en,20.187,2011-06-17,False,6.000,2991
2,"[12, 878, 28]",en,133.255,2019-04-24,False,8.240,26061
3,"[28, 12, 878]",en,85.092,2014-04-16,False,6.500,13402
4,"[18, 878, 53]",en,66.286,2007-12-12,False,7.208,15903

In [128]:
# Criando uma lista com todos os gÃªneros Ãºnicos da minha seleÃ§Ã£o de filmes
all_genres_1_5 = set([genre for sublist in df_resultados_features['genre_ids'] for genre in sublist])
all_genres_1_5

{12, 14, 16, 18, 27, 28, 35, 53, 80, 878, 9648, 10749, 10751}

In [129]:
# Criando uma coluna para cada gÃªnero
for genre in all_genres_1_5:
    df_resultados_features.loc[:, f'genre_{genre}'] = df_resultados_features['genre_ids'].apply(lambda x: 1 if genre in x else 0)
df_resultados_features.head()

C:\Users\Kevin\AppData\Local\Temp\ipykernel_26556\804041485.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_resultados_features.loc[:, f'genre_{genre}'] = df_resultados_features['genre_ids'].apply(lambda x: 1 if genre in x else 0)
C:\Users\Kevin\AppData\Local\Temp\ipykernel_26556\804041485.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_resultados_features.loc[:, f'genre_{genre}'] = df_resultados_features['genre_ids'].apply(lambda x: 1 if genre in x else 0)
C:\Users\Kevin\AppData\Local\Temp\ipykernel_26556\804041485.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_resultados_features.loc[:, f'genre_{genre}'] = df_resultados_features['genre_ids'].apply(lambda x: 1 if genre in x else 0)
C:\Users\Kevin\AppData\Local\Temp\ipykernel_26556\804041485.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_resultados_features.loc[:, f'genre_{genre}'] = df_resultados_features['genre_ids'].apply(lambda x: 1 if genre in x else 0)
C:\Users\Kevin\AppData\Local\Temp\ipykernel_26556\804041485.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_resultados_features.loc[:, f'genre_{genre}'] = df_resultados_features['genre_ids'].apply(lambda x: 1 if genre in x else 0)
C:\Users\Kevin\AppData\Local\Temp\ipykernel_26556\804041485.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_resultados_features.loc[:, f'genre_{genre}'] = df_resultados_features['genre_ids'].apply(lambda x: 1 if genre in x else 0)

,genre_ids,original_language,popularity,release_date,video,vote_average,vote_count,genre_35,genre_12,genre_878,genre_14,genre_9648,genre_80,genre_18,genre_16,genre_53,genre_27,genre_28,genre_10749,genre_10751
0,"[28, 27, 878, 53]",0,94.738,1371600000000000000,False,6.819,15567,0,0,1,0,0,0,0,0,1,1,1,0,0
1,"[35, 10751]",0,20.187,1308268800000000000,False,6.000,2991,1,0,0,0,0,0,0,0,0,0,0,0,1
2,"[12, 878, 28]",0,133.255,1556064000000000000,False,8.240,26061,0,1,1,0,0,0,0,0,0,0,1,0,0
3,"[28, 12, 878]",0,85.092,1397606400000000000,False,6.500,13402,0,1,1,0,0,0,0,0,0,0,1,0,0
4,"[18, 878, 53]",0,66.286,1197417600000000000,False,7.208,15903,0,0,1,0,0,0,1,0,1,0,0,0,0

In [44]:
from tmdb3 import set_key
set_key(API_KEY)

ModuleNotFoundError: No module named 'tmdb3'

In [110]:
df_resultados_dif_feat['release_date'] = pd.to_datetime(df_resultados_dif_feat['release_date'])
df_resultados_dif_feat['data_numerica'] = df_resultados_dif_feat['release_date'].astype('int64')
df_resultados_dif_feat = df_resultados_dif_feat.drop(columns=['release_date'])
df_resultados_dif_feat.head()

KeyError: 'release_date'

In [111]:
df_resultados_dif_feat.head()

,original_language,popularity,video,vote_average,vote_count,genre_10752,genre_12,genre_14,genre_16,genre_18,...,genre_37,genre_9648,genre_53,genre_80,genre_99,genre_878,genre_10749,genre_10751,minhas_notas,data_numerica
0,2,4.540,False,7.000,25,0,0,0,0,1,...,0,0,0,0,0,0,0,0,4.0,1635465600000000000
1,2,41.192,False,7.600,7677,0,0,0,0,0,...,0,0,0,1,0,0,0,0,3.5,1171411200000000000
2,2,18.752,False,6.807,5466,0,0,0,0,0,...,0,0,0,0,0,1,0,0,3.0,1374105600000000000
3,2,40.463,False,7.500,7984,0,0,0,0,0,...,0,0,0,0,0,0,1,0,4.0,1281571200000000000
4,2,76.414,False,7.900,17104,0,0,0,0,1,...,0,0,0,0,0,0,1,0,3.0,1480550400000000000

In [122]:
rating_dif_1_5['Rating']

0      4.0
1      3.5
2      3.0
3      4.0
4      3.0
      ...
767    1.0
768    2.0
769    2.0
770    2.0
771    2.0
Name: Rating, Length: 772, dtype: float64

In [124]:
test_y = rating_dif_1_5['Rating']

In [148]:


#test_y = df_resultados_dif_feat.minhas_notas
features = val_X.columns.tolist()
test_X = df_resultados_dif_feat[features]
filme_dtr = DecisionTreeRegressor(random_state=1)
filme_dtr.fit(test_X,test_y)

DecisionTreeRegressor(random_state=1)

In [145]:
val_X = df_resultados_features
df_resultados_features['original_language'] = encoder.fit_transform(df_resultados_features['original_language'])

df_resultados_features['release_date'] = pd.to_datetime(df_resultados_features['release_date'])
df_resultados_features['data_numerica'] = df_resultados_features['release_date'].astype('int64')

df_resultados_features = df_resultados_features.drop(columns=['release_date'])

df_resultados_features.head()

,original_language,popularity,video,vote_average,vote_count,genre_35,genre_12,genre_878,genre_14,genre_9648,genre_80,genre_18,genre_16,genre_53,genre_27,genre_28,genre_10749,genre_10751,data_numerica
0,0,94.738,False,6.819,15567,0,0,1,0,0,0,0,0,1,1,1,0,0,1371600000000000000
1,0,20.187,False,6.000,2991,1,0,0,0,0,0,0,0,0,0,0,0,1,1308268800000000000
2,0,133.255,False,8.240,26061,0,1,1,0,0,0,0,0,0,0,1,0,0,1556064000000000000
3,0,85.092,False,6.500,13402,0,1,1,0,0,0,0,0,0,0,1,0,0,1397606400000000000
4,0,66.286,False,7.208,15903,0,0,1,0,0,0,1,0,1,0,0,0,0,1197417600000000000

In [147]:
df_resultados_features = df_resultados_features.iloc[:,df_resultados_features.columns != 'genre_ids']
val_X = df_resultados_features
val_X

,original_language,popularity,video,vote_average,vote_count,genre_35,genre_12,genre_878,genre_14,genre_9648,genre_80,genre_18,genre_16,genre_53,genre_27,genre_28,genre_10749,genre_10751,data_numerica
0,0,94.738,False,6.819,15567,0,0,1,0,0,0,0,0,1,1,1,0,0,1371600000000000000
1,0,20.187,False,6.000,2991,1,0,0,0,0,0,0,0,0,0,0,0,1,1308268800000000000
2,0,133.255,False,8.240,26061,0,1,1,0,0,0,0,0,0,0,1,0,0,1556064000000000000
3,0,85.092,False,6.500,13402,0,1,1,0,0,0,0,0,0,0,1,0,0,1397606400000000000
4,0,66.286,False,7.208,15903,0,0,1,0,0,0,1,0,1,0,0,0,0,1197417600000000000
5,0,95.255,False,6.800,21221,0,1,1,0,0,0,0,0,0,0,1,0,0,1272412800000000000
6,1,43.183,False,7.316,735,0,0,0,0,1,0,0,0,0,1,0,0,0,1522195200000000000
7,0,45.720,False,7.000,10509,1,1,0,0,0,0,0,0,0,0,1,0,0,1505865600000000000
8,0,54.158,False,7.800,6396,0,0,0,0,1,0,1,0,1,0,0,0,0,991785600000000000
9,0,49.409,False,8.000,12201,0,0,0,0,0,0,1,0,0,0,0,0,0,937353600000000000
10,0,77.777,False,6.709,17552,0,1,1,0,0,0,0,0,0,0,1,0,0,1340409600000000000
11,0,20.437,False,7.200,1960,0,0,0,0,1,0,0,0,0,1,0,0,0,1625702400000000000
12,0,21.967,False,6.700,2342,0,0,0,0,1,0,0,0,0,1,0,0,0,1624838400000000000
13,0,23.404,False,7.644,2895,0,0,0,0,0,0,1,0,0,0,0,1,0,1582848000000000000
14,0,21.966,False,5.500,1994,1,0,0,1,0,0,0,0,0,0,0,0,1,1263427200000000000
15,0,24.785,False,7.100,3455,0,0,0,0,0,1,1,0,1,0,0,0,0,777859200000000000
16,0,103.173,False,7.685,19711,0,1,0,1,0,0,0,0,0,0,0,0,0,1247616000000000000
17,0,18.330,False,6.500,7014,0,0,0,0,0,1,1,0,1,0,1,0,0,1149292800000000000
18,0,40.517,False,6.199,5151,1,0,0,0,0,0,0,1,0,0,0,0,1,1163635200000000000
19,0,51.117,False,6.100,2358,1,0,0,0,0,0,0,0,0,0,0,1,0,1184198400000000000
20,0,29.166,False,6.500,2070,1,0,0,0,0,0,0,0,0,0,0,0,1,1190937600000000000
21,0,35.462,False,6.587,10325,1,1,0,1,0,0,0,0,0,0,1,0,1,1166572800000000000
22,0,63.465,False,5.700,2417,1,0,0,0,0,0,0,0,0,0,0,0,0,1170892800000000000
23,0,114.356,False,7.300,17080,1,0,0,0,0,0,0,0,0,0,0,0,0,1243900800000000000
24,0,106.913,False,7.658,10669,0,0,0,0,1,1,0,0,1,0,0,0,0,1646092800000000000
25,0,74.021,False,7.000,2725,0,0,0,0,0,1,0,0,1,1,0,0,0,1678233600000000000
26,0,18.406,False,5.500,1886,1,1,1,1,0,0,0,1,0,0,1,0,1,1248393600000000000
27,2,6.005,False,7.100,104,0,1,0,0,0,0,1,0,0,0,0,0,0,-1219017600000000000
28,0,98.105,False,6.300,3002,0,1,0,1,0,0,0,0,0,0,0,1,1,1684368000000000000
29,0,53.470,False,6.629,7956,0,0,0,0,1,0,0,0,0,1,0,0,0,1334188800000000000
30,0,32.466,False,7.300,4071,0,0,0,0,0,0,0,0,0,1,0,0,0,368928000000000000
31,0,101.551,False,8.201,24279,0,0,0,0,1,0,1,0,1,0,0,0,0,1266105600000000000

In [149]:
filme_dtr.predict(val_X)

array([1. , 3. , 3. , 1. , 0.5, 2.5, 3.5, 3.5, 4. , 4. , 2.5, 2.5, 3. ,
       2. , 1. , 3.5, 4. , 2. , 0.5, 2. , 3. , 0.5, 0.5, 4. , 3.5, 3. ,
       1. , 1. , 0.5, 0.5, 4. , 3. ])

In [155]:
rating_1_5['minha_nota'] = filme_dtr.predict(val_X)
rating_1_5.head()

,index,Date,Name,Year,Letterboxd URI,Rating,new_rating,minha_nota
0,46,2021-11-29,World War Z,2013,https://boxd.it/2p2E,1.5,2.392857,1.0
1,73,2021-11-30,Mr. Popper's Penguins,2011,https://boxd.it/kRS,1.5,2.343750,3.0
2,76,2021-11-30,Avengers: Endgame,2019,https://boxd.it/9vE4,1.5,3.222222,3.0
3,77,2021-11-30,The Amazing Spider-Man 2,2014,https://boxd.it/3utM,1.5,3.058824,1.0
4,82,2021-11-30,I Am Legend,2007,https://boxd.it/21DG,1.5,2.320000,0.5

In [156]:
rating_1_5

,index,Date,Name,Year,Letterboxd URI,Rating,new_rating,minha_nota
0,46,2021-11-29,World War Z,2013,https://boxd.it/2p2E,1.5,2.392857,1.0
1,73,2021-11-30,Mr. Popper's Penguins,2011,https://boxd.it/kRS,1.5,2.343750,3.0
2,76,2021-11-30,Avengers: Endgame,2019,https://boxd.it/9vE4,1.5,3.222222,3.0
3,77,2021-11-30,The Amazing Spider-Man 2,2014,https://boxd.it/3utM,1.5,3.058824,1.0
4,82,2021-11-30,I Am Legend,2007,https://boxd.it/21DG,1.5,2.320000,0.5
5,103,2021-11-30,Iron Man 2,2010,https://boxd.it/1WZM,1.5,2.444444,2.5
6,145,2021-11-30,Gonjiam: Haunted Asylum,2018,https://boxd.it/ioyw,1.5,2.694444,3.5
7,188,2022-01-02,Kingsman: The Golden Circle,2017,https://boxd.it/buJm,1.5,2.739130,3.5
8,246,2022-06-28,Mulholland Drive,2001,https://boxd.it/297o,1.5,2.916667,4.0
9,283,2023-01-10,American Beauty,1999,https://boxd.it/71Y,1.5,3.050000,4.0
10,285,2023-01-10,The Amazing Spider-Man,2012,https://boxd.it/27PI,1.5,2.615385,2.5
11,286,2023-01-10,Fear Street: 1978,2021,https://boxd.it/lLBu,1.5,2.625000,2.5
12,287,2023-01-10,Fear Street: 1994,2021,https://boxd.it/lLBk,1.5,2.625000,3.0
13,351,2023-04-11,All the Bright Places,2020,https://boxd.it/bpfQ,1.5,2.857143,2.0
14,357,2023-04-11,Tooth Fairy,2010,https://boxd.it/1zKE,1.5,2.444444,1.0
15,365,2023-04-11,Natural Born Killers,1994,https://boxd.it/2aNg,1.5,3.562500,3.5
16,376,2023-04-11,Harry Potter and the Half-Blood Prince,2009,https://boxd.it/29FU,1.5,3.093750,4.0
17,379,2023-04-11,The Fast and the Furious: Tokyo Drift,2006,https://boxd.it/1Yeo,1.5,3.125000,2.0
18,381,2023-04-11,Happy Feet,2006,https://boxd.it/1XH0,1.5,3.125000,0.5
19,384,2023-04-11,I Now Pronounce You Chuck & Larry,2007,https://boxd.it/25cE,1.5,2.320000,2.0
20,391,2023-04-11,The Game Plan,2007,https://boxd.it/1PDY,1.5,2.320000,3.0
21,395,2023-04-11,Night at the Museum,2006,https://boxd.it/28wi,1.5,3.125000,0.5
22,421,2023-04-12,Norbit,2007,https://boxd.it/1XSM,1.5,2.320000,0.5
23,424,2023-04-12,The Hangover,2009,https://boxd.it/1GjK,1.5,3.093750,4.0
24,432,2023-04-26,The Batman,2022,https://boxd.it/eDGs,1.5,3.070000,3.5
25,435,2023-05-08,Scream VI,2023,https://boxd.it/zdfW,1.5,2.725000,3.0
26,436,2023-05-10,G-Force,2009,https://boxd.it/1ETc,1.5,3.093750,1.0
27,440,2023-05-17,Limite,1931,https://boxd.it/20iW,1.5,4.000000,1.0
28,444,2023-05-29,The Little Mermaid,1989,https://boxd.it/1WYO,1.5,4.000000,0.5
29,465,2023-06-28,The Cabin in the Woods,2011,https://boxd.it/1zOc,1.5,2.343750,0.5
30,514,2023-07-11,The Evil Dead,1981,https://boxd.it/29Go,1.5,4.100000,4.0
31,520,2023-08-02,Shutter Island,2010,https://boxd.it/1U82,1.5,2.444444,3.0